{% extends 'base.html' %}
{% block content %}
    <title>Wearwise | Wear the Trend</title>
    <body style="font-family: sans-serif;">
        <h1>Selamat Datang di <mark style="background-color: purple; color: rgb(251, 0, 0);">{{ brand }}!</mark></h1>
                <h5>Nama Produk : </h5>
                <p>{{ name }}</p>
                <h5>Harga : </h5>
                <p>Rp{{ price }}</p>
                <h5>Description : </h5>
                <p>{{ description }}</p>
                <h5>Quantity :</h5>
                <p>{{ quantity }}</p>
            </div>
            <p>Copyright by Wearwise - {{ myname }} - {{ kelas }}</p>

        {% if not products %}
        <p>Belum ada data produk tambahan yang ditambahkan di wearwise.</p>
        {% else %}
        <table>
            <tr>
            <th>Nama Produk</th>
            <th>Harga</th>
            <th>Deskripsi Produk</th>
            <th>Kuantitas</th>
            </tr>

            {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
            {% endcomment %} 
            {% for product in products %}
            <tr>
            <td style="text-align: center;">{{product.name}}</td>
            <td style="text-align: center;">{{product.price}}</td>
            <td style="text-align: center;">{{product.description}}</td>
            <td style="text-align: center;">{{product.quantity}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <br />

        <a href="{% url 'main:create_product' %}">
            <button>Tambahkan Produk</button>
        </a>
    </div>
        </body>
{% endblock content %}